<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
  <script type="text/javascript" src="https://app.termly.io/resource-blocker/2acb1920-d731-405c-a249-b801da6dcf9e?autoBlock=on"></script>
  <script src="/assets/js/color-modes.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#317EFB" />
  <meta name="robots" content="index, follow">
  <meta name="description" content="Thrive IEP Registration">
  <title>{{ page.title }}</title>

  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <meta name="msapplication-TileColor" content="#da532c">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

  <style>
    .container {
      max-width: 600px; /* Set the desired width */
      margin: 0 auto;   /* Center the container */
    }
  </style>

</head>

<div class="container py-3">
  <br>
  &larr; <a href="https://scratch.thriveIEP.com/get-started">Return to Site</a>
  {{ content }}
</div>

{% include end.html %}
